<p>The Link Will Disappear in 10 Seconds</p>

	<%= url.short %>


<div id="thinking_url">
  <%= image_tag("countdown-1.gif", :id => "thinking_url", :style => "display:none, :animated => true") %>
</div>