Welcome: <%= @user.email %>

<h2>Here are you urls</h2>

<table class="table table-hover">
	<td><h3>Short URL</h3></td>
  <td><h3>Long URL</h3></td>
	<% @all_urls.each do |url| %>
	 <tr>
		  <td><%= link_to url.short, url_path(url.id) %></td>
		  <td><%= url.long %></td>
	 </tr>
	<% end %>
</table>